body {
  padding-top: 70px;
}

.error-msg {
  margin-left: .5rem;
  color: #e50000;
}

// increase font size for forms on small devices
input[type="text"], input[type="number"], textarea, select {
  font-size: 16px;
}

// Tablet upwards
@media (min-width: 768px) {
  font-size: 14px;
}
